{% extends 'base.html' %}

{% block content %}
<div class="container"></div>
<br>
<br>
<br>
<br>
<br>

<div class="input-group input-group-lg">
      <form class="form-control" action="/searched">
  <input type="text" class="form-control" aria-label="item to be searched" aria-describedby="inputGroup-sizing-lg" name="searchp" placeholder="Enter item to be searched within the database">
          <br>
      <input type="submit" class="btn btn-warning justify-content-center" value="search">
          </form>
    </div>
{% endblock %}